body{
    background-image: url("/images/hireimagebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:50px;
}
#hire-form{
    font-size:40px;
    text-align: center;
    color: turquoise;
}
.thank-note{
    font-size: 40px;
    text-align: center;
    color: turquoise;
}
#form{
    color:white;
    text-align: center;
}
/* footer{
    height:300px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: relative;
}
footer p:nth-child(1){
    line-height:10px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 16px;
    color:#7e7d7d;
    width:600px;
    text-align: center;
}
.social-icons a {
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    background-color: #e6e3e3;
    margin:20px 10px;
    border-radius:50%;
    align-items: center;
    
}
.social-icons{
    display:flex;
}
.copyright{
    color:#565555;
    font-size: 15px;
    position:absolute;
    left:50%;
    bottom:10px;
    transform:translateX(-50%);
}
.social-icons i{
    color:000000;
}
.social-icons{
    background-color: #000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
}
.social-icons a:hover i{
    color:white;
    transition:all ease;
} */